// http://ionicframework.com/docs/theming/
// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.
.status {
  float: right;
}
.maislista {
  display: none;
}
@media (min-width: 800px) {
  //.bar-buttons{
  //    display: none;
  //}
  .cont {
    border: 1px solid #ccc;
    border-radius: 10px;
    float: none;
    margin: auto;
    margin-top: 25px;
    padding: 13px 10px 16px 10px;
    max-width: 350px;
    box-shadow: 2px 2px 5px #aaaaaa;
  }
  .g-cont {
    max-width: 750px;
  }
  .list-cont {
    border: 1px solid #ccc;
    border-radius: 10px;
    float: none;
    margin: auto;
    margin-top: 25px;
    padding: 13px 10px 16px 10px;
    max-width: 1250px;
    box-shadow: 2px 2px 5px #aaaaaa;
  }
  .page-header {
    text-align: center;
  }
  .maislista {
    display: inline-block;
  }
}
